@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Raleway:200');

body {
  background-color: white;
  color: black;
  margin: 0;
  font-family: 'Noticia Text', serif;
}

header {
  border-bottom: 1px solid black;
}

h1, article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

section.links ul {
  margin: 0;
  padding: 0;
}

section.links li {
  list-style-type: none;
}
