html, head {
	font-family: 'Exo 2', sans-serif;
}

h1, header {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 3em;
}

h1 {
	text-align: center;
}

a:link:not(.image) {
	margin: -2px;
	padding: 2px;
	background-color: #FEFEFE;
}

footer {
	a:link + a:link {
		margin-left: 1em;
	}
}

article {
	background-color: #EEE;
	margin: 1em;
	//box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	border-radius: 3px;

	flex-basis: 8in;

	flex-grow: 1;
	flex-basis: 8in;

	> header, > footer {
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 1rem;

		&:first-child {
			margin-top: -1rem;
		}

		&:last-child {
			margin-bottom: -1rem;
		}
	}

	header {
		font-size: 1.5em;
		background-color: #BBB;
		border-bottom: 2px solid #F79A42;

	}
}

article#zolf {
	.image-background("images/zolf/background.png");
}

article#sports-medley {
	.image-background("images/sports-medley/background.png");
}

article#snowman-race {
	.image-background("images/snowman-race/background.png");
}

article#tether {
	.image-background("images/tether/background.png");
}

article#ballin-spain {
	.image-background("images/ballin-spain/background.png");
}

article#rototheremin {
	.image-background("images/rototheremin/background.png");
}

section {
	margin: 1em;
	box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.6);
}

.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

p {
	margin: 0;

	* + & {
		margin-top: 1em;
	}
}

.image-background(@url) {
	background-image: url(@url);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
